{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'employee_signup' %}">Admin</a></li>
                <li><a href="{% url 'employee_login' %}">Login</a></li>
                <li><a href="{% url 'employee_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content of other pages will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Your Website. All Rights Reserved.</p>
    </footer>

</body>
</html>
