/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the header */
header {
    background-color: #3cc711;
    padding: 25px 0;
}

/* Style for the navigation menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(248, 243, 243);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1{
    padding-top: 10;
    text-align: center;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

